* {
    margin: 0px;
    padding: 0px;
}

body {
    overflow-x: hidden;
}
html {
    font-size: 90%;
}
//mix

@mixin text_center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

//var
$main_color: #4ecc85;
.h2 {
    font-weight: bold;
}
.span {
    color: $main_color;
}

.main_container {
    max-width: 450px;
    margin: auto;
}
.main {
    width: 90%;
    margin: 2rem auto;
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 1px 4px 46px -2px rgba(0, 0, 0, 0.4);
}

header {
    border-radius: 0rem 0rem 1rem 1rem;
    color: white;
    background-color: $main_color;
    .nav_hed {
        @include text_center();
        a {
            text-decoration: none;
            font-size: 1.4rem;
            border-bottom: 0.2rem solid transparent;
        }
        a:hover {
            border-bottom: 0.2rem solid white;
        }
    }
    .navbar {
        background-color: $main_color;
        .navbar-brand {
            color: white;
        }
    }
}

.main_header {
    background-color: $main_color;
    background-image: url("../img/sp_main_bg.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    padding: 3rem 1rem 1rem 1rem;
    border-radius: 1rem 1rem 0rem 0rem;
    @include text_center();
    color: white;
    img {
        width: 55%;
        margin-bottom: 1rem;
        border-radius: 1rem;
    }
    .shoshal_icon {
        margin-top: 1rem;
        a{
            text-decoration: none;
            color: wheat;
            i {
                font-size: 1.6rem;
                margin: 0rem 1rem;
                padding: 0.5rem;
            }
        }
    }
}

.main_main {
    padding: 1rem;

    p {
        font-size: 1.1rem;
        margin-top: 1rem;
        line-height: 1.9rem;
    }
}
.main_footer{
    padding: 1rem;
    table{
        tr{
            td{
                padding-right: 1rem;
                padding-top: 0.5rem;
                a{
                    text-decoration: none;
                    color: $main_color;
                }
            }
        }
    }
}

footer{
    .footer_copyright{
       h6{
        margin-bottom: 1rem;
        font-weight: bold;
       }
    }
    .footer_menu{
        ul{
            list-style: none;
            margin:0rem;
            padding: 0rem;
            display: flex;
            justify-content: center;
                align-items: center;
                flex-direction: row;
                overflow: auto;
            li{
                margin:1rem;
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
                a{
                    text-decoration: none;
                    color: $main_color;
                    i{
                        font-size: 1.8rem;
                    }
                    span{
                        font-size: 1.2rem;
                    }
                }
            }
        }
    }
}





//end of index page

//start Services page

.Services_page {
    .main_header {
        padding: 1rem;
    }
    .main_main {
        .cards {
            @include text_center();
            .btn {
                background-color: $main_color;
                color: white;
            }
        }
    }
}

// start media_page
.media_page {
    .main_header {
        padding: 1rem;
    }
    .img_row {
        img {
            border-radius: 0.5rem;
            cursor:pointer;
        }
    }
    .vid_row {
        iframe {
            height: 200px;
            width: 100%;
            margin: auto;
            padding-top: 1rem;
        }
    }
}

.payment_page {
    .btn {
        background-color: $main_color;
        color: white;
    }
}
.Enquiry_page {
    .btn {
        background-color: $main_color;
        color: white;
    }
    iframe{
        margin-top:2rem;
        width: 100%;
        height: 20rem;
    }
}
